# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.VC.db
*.VC.VC.opendb

# =========================
# Build folders
# =========================
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# =========================
# Intermediate files
# =========================
*.ipch
ipch/
*.tlog
*.log
*.cache

# =========================
# Compiled files
# =========================
*.obj
*.o
*.lo
*.slo

# Precompiled headers
*.pch
*.gch

# Libraries / linking
*.ilk
*.lib
*.a
*.la
*.lai

# Executables
*.exe
*.out
*.app

# Debug symbols
*.pdb
*.idb
*.dwo

# Dynamic libs
*.dll
*.so
*.dylib

# =========================
# Databases / misc
# =========================
*.db
*.sqlite